.price__form{
    display: grid;
    gap: 0.5em;
    margin-bottom: 1.5em;
}
.price__title{
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
}
.price__labe{
    display: block;
    padding-left: 1em;
    margin-bottom: 0.2em;
    font-size: 0.9em;
    font-weight: 300;
}
.price__input{
    display: block;
    border: 1px solid #aaa9;
    width: 100%;
    padding: 0.4em 0.8em;
}
.price__btn{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    background-color: #dd1a1a;
    color: white;
    box-shadow: -2px 2px 6px #0002;
    margin-right: 2px;
    margin: 5px;
    transition: transform 100ms ease,
                box-shadow 100ms ease;
}
.price__btn:hover{
    filter: brightness(1.1);
    transform: scale(1.05);
    box-shadow: 0 0 0.5em #0005
}
.filter__country{
    display: grid;
    gap: 0.5em;
}
.price__ul{
    display: grid;
}
.price__li{
    font-size: 0.8rem;
    cursor: pointer;
    padding: 0.5em;
    transition: transform 100ms ease;
}
.price__li:hover{
    transform: scale(1.05);
    background-color: #cd5b5b;
    width: 40%;
}

@media all and (max-width: 480px) {
    .price__form{
        padding: 0;
    }
    .price__input{
        font-size: 1.3rem;
        text-align: center;
    }

}     