.form-filterName{
    justify-self: center;
    display: flex;
    align-items: center;
    padding: 2em 0 3em;
    width: 100%;
    
}
.filterName__input{
    border-radius: 3px;
    padding: 0.5em 1em;
    font-weight: 500;
    border: 1px solid #aaaa;
    height: 3em;
}
.filterName__btn{
    display: block;
    font-weight: 500;
    width: 7em;
    height: 3em;
    border-radius: 5px;
    cursor: pointer;
    background-color: #dd1a1a;
    color: white;
    box-shadow: -2px 2px 6px #0002;
    /* margin-right: 2px; */
    transition: transform 100ms ease,
                box-shadow 100ms ease;
}
.filterName__btn:hover{
    filter: brightness(1.1);
    transform: scale(1.05);
    box-shadow: 0 0 0.5em #0005
}

@media all and (max-width: 480px) { 
    .form-filterName{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 0;
        padding: 0;
        margin: 10px;
    }
    .filterName__input{ 
        font-size: 1.3rem;
        margin: 0.2em;
        border: 0.2em solid #0002;
        padding: 0;
        width: 90%;
        text-align: center;
    }
    .filterName__btn{
        
        margin:0;
        padding: 0;
        border: 0.1em;
        font-size: 1.3rem;
    }
}