.homePage-container{
    display: grid;
    grid-template-columns: max-content 1fr;
   }
.homePage__filter{
    grid-row: span 2;
    padding: 2em 3em;
}
.homePage__filter{
    font-size: 1.3rem;
    margin-bottom: 0.5em;
}
@media all and (max-width: 480px) { 
    .homePage-container{
        
        grid-template-columns: 1fr;
    }
    
    .homePage__filter{
        padding: 20px;
    }
}
