
.hotel{
    margin-top: 5em;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 1em;
    padding: 1em 2em 2em;
}
.hotel__name{
    grid-column: span 2;
    text-align: center;
    margin: 1em 0 1.5em;
}
.slider-container{
    justify-self: center;
}
.hotel__info{
    grid-column: span 2;
}
.hotel__country{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.3em;
}
.hotel__direction{
    grid-column: 2 span;
    font-size: 0.9rem;
    display: flex;
    gap: 0.5em;
    align-items: center;
}
.hotel__description{
    font-weight: 300;
    padding: 1em 0 1.5em;
    line-height: 1.4;
}
.hotel__coments{
    font-weight: 300;
    padding: 1em 0 1.5em;
    line-height: 1.4;
}
@media all and (max-width: 480px){
    .container{
        grid-template-columns: 1fr;
    }
    .hotel{
        grid-template-columns: 1fr;
        justify-content: center;
        column-gap: 0;
    }
    .hotel__map{
        width: 100%;
        max-width: 500px;
        grid-row: 3/4;
        margin: 2em 0;
    }
}