.register{
    margin-top: -1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 103px);
}
.register__title{
    width: 100%;
    font-size: 1.6rem;
    border: 1px solid #0003;
    border-bottom: none;
    max-width: 400px;
    padding: 1em 1.5em;
    border-radius: 0.8em 0.8em 0 0;
    text-align: center;
    color: #fa4040;
}
.form-register{
    width: 100%;
    max-width: 400px;
    padding: 0 1.5em 4em;
    border: 1px solid #0003;
    display: grid;
    gap: 0.3em;
    border-radius: 0 0 1.2em 1.2em;
}
.form-register__field{
    display: grid;
    gap: 0.4em;
}
.form-register__lable{
    font-size: 1rem;
    font-weight: 500;
    padding-left: 1em;
}
.form-register__input{
    padding: 0.5em 1em;
    border: 1px solid #0003;
    font-size: 1rem;
    font-weight: 300;
}
.form-register__select{
    display: block;
    padding: 0.5em 1em;
    border: 1px solid #0003;
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 1rem;
}
.form-register__option{
    font-size: 0.9rem;
    font-weight: 300;
}
.form-register__btn{
    background-color: #fa4040;
    border: none;
    padding: 0.7em 1em;
    color: #fff;
    font-size: 1.06rem;
    filter: brightness(1.1);
}
@media all and (max-width: 480px) { 
    /* .register{
        margin-top: 10px;
        height: 80%;
    } */
}
